*{
  box-sizing: border-box;
}
body{
background-color: #F5E0BC;
}
h1 {
  color: #501110;
  text-align: center;
  font-size: 3em;
  font-family: sans-serif;
  font-weight: bold;
  position: fixed;
  left: 390px;
  top: 250px;
}
.image {
  height: 100px;
  width: 100px;
}
#busPic {
  height: 260px;;
  position: fixed;
  left: 50%;
  margin-left: -130px;
}

#form{
  background-color: #52C2E8;
  width: 50%;
  display: block;
  font-size: 0.8em;
   height: 1.2em;
   width: 15em;
   align-items: center;
}
#submit {
 color: #501110;
 font-size: 22px;
 width: 135px;
 height: 40px;
 border: none;
 margin: 0;
 padding: 0;
}
 {
  background-color: #F5E0BC;
}
